/* Utils */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}
.category-card{
    height: 400px;
    overflow-y: scroll;
}
.upload-box{
    height: 380px;
}

.layout-config-button .p-link{
    display :none;
}
.risk-label-right{
    position: absolute;
    margin-left: 550px;
}
.input-text-search{
    width: 770px;
}
.input-text-btn{
    position: absolute;
    margin-right: -5px;
}
.card-name{
    height: 175px;
}
.risk-analyser .p-progressbar .p-progressbar-value{
    background: red;
}